node_modules/*
bower_components/*
#Build directory:
src/server/*
!src/server/requirements.txt
!src/server/templates/
src/client/public/*
src/__pycache__/*
#Start working with webstorm
.idea/*
npm-debug.log
