$body-bg: transparent;

body {
  font: 100% Helvetica, sans-serif;
  background-image: url("/static/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.panel-info {
    margin-top: 15%;
    min-width: 200px;
    opacity: 0.92;
    text-align: center;
}

.reg {
	position: absolute;
	display: block;
	right: 0;
	margin-left: 5px;
}

.card {
	position: relative;
}

.nopadding {
   padding: 0 !important;
}

.with-header {
  margin-top: 100px !important;
  border: none !important;
}

.delete-btn {
  float: right;
  position: relative;
  top: -7px;
  margin: 0px;
}

.addTaskItem > span > input {
  margin: 0px 15px !important;
  height: 50% !important;
  min-width: 300px !important;
}
.addTaskItem > span {
  display: inline-flex;
  justify-content:center;
}