$body-bg: transparent;

body {
  font: 100% Helvetica, sans-serif;
  background-image: url("/static/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.panel-info {
    margin-top: 15%;
    min-width: 200px;
    opacity: 0.92;
    text-align: center;
}

.reg {
	position: absolute;
	display: block;
	right: 0;
	margin-left: 5px;
}

.card {
	position: relative;
}

.nopadding {
   padding: 0 !important;
}