<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  	<meta name="apple-mobile-web-app-title" content="Ragozin-N PWA">
	{% block head %}
	<title>{% block title %}Ragozin Nikita Coursework{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<link rel="stylesheet" type="text/css" href="{{ css }}">
	{% block body %}
	<div id="root"></div>
	{% endblock %}
	<script type="text/javascript" src="{{ bundle }}"></script>
</body>
</html>